html,
body {
    margin: 0;
    padding: 0;
    /*background:#ffffff url("image/bg.png") repeat-x;*/
    background-color: #F5F5F5;
    font-family: ubuntu, arial;
}

body {
    display: none;
}


#full {
    /*   position: relative;*/
    overflow: hidden;
    margin: 0 auto;
    /*centralizando o conteúdo no navegador*/
    max-width: 768px;
    /*largura do layout*/
    border: 1px solid rgb(247, 244, 244);
}

.perfil {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 160px;
    height: 160px;
    /*largura do layout*/
    border: 0px solid red;

}

.dados_atleta {
    padding: 8px;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    width: 258px;
    font-size: 14px;
    color: #141414;
    border: 0px solid rgb(32, 31, 31);
    background-color: rgb(218, 215, 214);

    /* bordas aredondadas*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.logo {
    margin-top: 22px;
    margin-right: 20px;
    float: right;
    width: 150px;
    height: 45px;
    border: 0px solid red;

}

#hr {
    margin-top: 4px;
    margin-left: 0px;
    float: left;
    width: 765px;
    height: 1px;
    border: 0px solid red;
}

.org {
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    text-align: center;
    width: 148px;
    height: 55px;
    border: 0px solid red;
}

.org_int_up {
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    height: 27px;
    border: 0px solid red;
}

.org_int_down {
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    text-align: center;
    font-size: 12px;
    width: 150px;
    height: 27px;
    border: 0px solid red;
}


fieldset.diet_number{
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 13px;

    font-family: ubuntu, sans-serif;
    width: 96%;
    background-color: #FFF;
    border: 1px solid #666;
    z-index: 0;

    /* bordas aredondadas*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*  sombreamento */
    box-shadow: #999 2px 2px 5px;
}


legend.padrao {
    padding: 2px;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    color: #FFF;
    width: 30px;
    height: 30px;
    background-color: #db5f0b;
    border: 1px solid #632705;

    /* bordas aredondadas*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
    .linha_resultado {
        position: relative;
        margin: 0px auto;
        margin-top: 2px;
        overflow: hidden;
        width: 100%;

        text-align: center;
        color: #444;
        font-weight: normal;
        font-family: ubuntu, arial;
        font-size: 17px;
        background-color: #FFF;
        border: 0px solid green;
        z-index: 0;
    }

    .resultado_item {
        padding: 2px;
        margin-top: 0px;
        margin-left: 1px;
        min-height: 50px;
        float: left;
        text-align: center;
        font-family: ubuntu, arial;
        font-size: 20px;
        background-color: #FFF;
        border: 1px solid #999;
        z-index: 0;
    }

