
/**************************************
/************ CSS TRIGGER *************
**************************************/




#triggerFull{

    position: relative;
    margin: 0 auto; /*centralizando o conteúdo no navegador*/
    width: 410px;

    border: 0px solid red;
    z-index: 10;
}

.trigger {
    
    text-align: center;
    font:400 16px 'Verdana', sans-serif;
    width: 400px;
    

}


/*
.trigger{
    margin-top: 2px;
    margin-right: 0px;
    float: right;
    
    padding: 2px;
    color: #333; 
    text-align: center;
    background: #ccc; 
    width:500px; 
    border: 1px solid #333; 
    font:400 13px 'Verdana', sans-serif;
    box-shadow: #999 0px 2px 5px;
}


.trigger{
    border-radius: 2px; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
}


.trigger .ajax_close{
    position: absolute; 
    right: 10px; 
    cursor: pointer; 
    top: 10px; 
    background: black; 
    width: 20px; 
    height: 20px; 
    display: none;
}
*/

.trigger.accept{
 
    background-color: #00FF00; 
    border: 3px solid #FFF;
    color: #FFF;
    margin: 5px auto;
    padding: 5px;

    
    /* bordas aredondadas*/
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    /*  sombreamento */    
    box-shadow: #999 3px 3px 5px;

}
.trigger.infor{
    background-color: #1E90FF; 
    border: 3px solid #FFF;
    color: #FFF;
    margin: 5px auto;
    padding: 5px;

    /* bordas aredondadas*/
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    /*  sombreamento */    
    box-shadow: #999 3px 3px 5px;

}
.trigger.alert{
    background-color: #FFB90F; 
    border: 3px solid #FFF;
    color: #FFF;
    margin: 5px auto;
    padding: 5px;

    /* bordas aredondadas*/
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    /*  sombreamento */    
    box-shadow: #999 3px 3px 5px;

}
.trigger.error{
    background-color: #FF0000; 
    border: 3px solid #FFF;
    color: #FFF;
    margin: 5px auto;
    padding: 5px;

    /* bordas aredondadas*/
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    /*  sombreamento */    
    box-shadow: #999 3px 3px 5px;

}

